body {
    font-family: ui-monospace, 'Cascadia Code', 'Source Code Pro',Menlo, Consolas, 'Courier New', monospace;
}

h1, h2, h3 {
    color: #0056b3;
}

.navbar {
    background-color: #333;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    text-align: center;
}

.navbar a {
    color: #fff;
    text-decoration: none;
    padding: 6px 12px;
    display: inline-block;
}

.navbar a:hover {
    color: #000;
    background-color: #ffc107;
    border-radius: 3px;
    cursor: pointer;
}

.site-header {
    text-align: center;
}

.main-content {
    background-color: #fffcdf;
    padding: 15px;
    border-radius: 5px;
    border: 5px solid #ffc107;
}

footer {
    text-align: center;
    margin-top: 20px;
}

section {
    margin-bottom: 20px;
}

table {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    text-align: center;
}

.map-section {
    text-align: center;
}

.map-section img {
    width: 100%;
    max-width: 600px;
    border: 3px solid #333;
    border-radius: 8px;
    transition: transform 0.4s ease;
}

.map-section img:hover {
    transform: scale(1.05); /* Hover zoom effect */
}

.about-box {
    padding: 10px;
}

.objective-box {
    background-color: #d4edda;
    border: 2px solid #28a745;
}

.sources-box {
    background-color: #d1ecf1;
    border: 2px solid #17a2b8;
}

.stakeholder-box {
    background-color: #f8d7da;
    border: 2px solid #dc3545;
}

.warning {
    color: red;
}

mark {
    color: inherit;
}

.black-text {
    color: black;
}

.blue-text {
    color: blue;
}

.alert-orange {
    background-color: #ffe8a1;
}

.alert-red {
    background-color: #f8d7da;
    color: #721c24;
}

.alert-yellow {
    background-color: #eef398;
}

.about-box {

    display: inline-block;
    width: 30%;
    margin: 1%;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: 4px 4px 10px rgba(0,0,0,0.1);
    vertical-align: top;

}